Nama : Andhika Febi Hardina

In [ ]:
import numpy as numpy
import pandas as pd

Input Data set yang tertera pada link yang telah diberikan

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [ ]:
df

    Province/State        Country/Region        Lat  ...  2/17/22  2/18/22  2/19/22
0              NaN           Afghanistan  33.939110  ...   171673   171857   171931
1              NaN               Albania  41.153300  ...   269301   269601   269904
2              NaN               Algeria  28.033900  ...   263369   263685   263936
3              NaN               Andorra  42.506300  ...    37522    37589    37589
4              NaN                Angola -11.202700  ...    98585    98605    98617
..             ...                   ...        ...  ...      ...      ...      ...
279            NaN    West Bank and Gaza  31.952200  ...   625028   627956   627956
280            NaN  Winter Olympics 2022  39.904200  ...      507      508      508
281            NaN                 Yemen  15.552727  ...    11718    11731    11731
282            NaN                Zambia -13.133897  ...   310474   310764   311016
283            NaN              Zimbabwe -19.015438  ...   232598   233030   233224

[284 rows x 764 columns]

Warning: Total number of columns (764) exceeds max_columns (20) limiting to first (20) columns.

In [13]:
 import numpy as np
df.replace({'--':np.nan,'na':np.nan})

    Province/State        Country/Region        Lat  ...  2/17/22  2/18/22  2/19/22
0              NaN           Afghanistan  33.939110  ...   171673   171857   171931
1              NaN               Albania  41.153300  ...   269301   269601   269904
2              NaN               Algeria  28.033900  ...   263369   263685   263936
3              NaN               Andorra  42.506300  ...    37522    37589    37589
4              NaN                Angola -11.202700  ...    98585    98605    98617
..             ...                   ...        ...  ...      ...      ...      ...
279            NaN    West Bank and Gaza  31.952200  ...   625028   627956   627956
280            NaN  Winter Olympics 2022  39.904200  ...      507      508      508
281            NaN                 Yemen  15.552727  ...    11718    11731    11731
282            NaN                Zambia -13.133897  ...   310474   310764   311016
283            NaN              Zimbabwe -19.015438  ...   232598   233030   233224

[284 rows x 764 columns]

Warning: Total number of columns (764) exceeds max_columns (20) limiting to first (20) columns.

1. Menentukan negara-negara yang lat nya dibawah 0 dengan menggunakan logical conditional (bingung masukin fungsinya).
2. Menggunakan 'for' karena memerlukan suatu kondisi
3. Munculkan country & lat untuk melihat melihat negara dengan lat dibawah 0
4. Kemudian sort Country tersebut

In [16]:
df['Country/Region']

0               Afghanistan
1                   Albania
2                   Algeria
3                   Andorra
4                    Angola
               ...
279      West Bank and Gaza
280    Winter Olympics 2022
281                   Yemen
282                  Zambia
283                Zimbabwe
Name: Country/Region, Length: 284, dtype: object

In [19]:
df['Lat']

0      33.939110
1      41.153300
2      28.033900
3      42.506300
4     -11.202700
         ...
279    31.952200
280    39.904200
281    15.552727
282   -13.133897
283   -19.015438
Name: Lat, Length: 284, dtype: float64

In [21]:
df

    Province/State        Country/Region        Lat  ...  2/17/22  2/18/22  2/19/22
0              NaN           Afghanistan  33.939110  ...   171673   171857   171931
1              NaN               Albania  41.153300  ...   269301   269601   269904
2              NaN               Algeria  28.033900  ...   263369   263685   263936
3              NaN               Andorra  42.506300  ...    37522    37589    37589
4              NaN                Angola -11.202700  ...    98585    98605    98617
..             ...                   ...        ...  ...      ...      ...      ...
279            NaN    West Bank and Gaza  31.952200  ...   625028   627956   627956
280            NaN  Winter Olympics 2022  39.904200  ...      507      508      508
281            NaN                 Yemen  15.552727  ...    11718    11731    11731
282            NaN                Zambia -13.133897  ...   310474   310764   311016
283            NaN              Zimbabwe -19.015438  ...   232598   233030   233224

[284 rows x 764 columns]

Warning: Total number of columns (764) exceeds max_columns (20) limiting to first (20) columns.

dengan kondisi if menentukan jika lat < 0

In [40]:
i=0
if [i] in (Lat) < 0:
    print('')

NameError: ignored

In [ ]:
menggunakan transpose untuk mengubah baris menjadi kolom, dan sebaliknya

In [27]:
tdf=df.T
print(tdf.head())

                        0        1        2    ...        281        282        283
Province/State          NaN      NaN      NaN  ...        NaN        NaN        NaN
Country/Region  Afghanistan  Albania  Algeria  ...      Yemen     Zambia   Zimbabwe
Lat                33.93911  41.1533  28.0339  ...  15.552727 -13.133897 -19.015438
Long              67.709953  20.1683   1.6596  ...  48.516388  27.849332  29.154857
1/22/20                   0        0        0  ...          0          0          0

[5 rows x 284 columns]

Menghitung jumlah kasus harian covid 19

In [28]:
df

    Province/State        Country/Region        Lat  ...  2/17/22  2/18/22  2/19/22
0              NaN           Afghanistan  33.939110  ...   171673   171857   171931
1              NaN               Albania  41.153300  ...   269301   269601   269904
2              NaN               Algeria  28.033900  ...   263369   263685   263936
3              NaN               Andorra  42.506300  ...    37522    37589    37589
4              NaN                Angola -11.202700  ...    98585    98605    98617
..             ...                   ...        ...  ...      ...      ...      ...
279            NaN    West Bank and Gaza  31.952200  ...   625028   627956   627956
280            NaN  Winter Olympics 2022  39.904200  ...      507      508      508
281            NaN                 Yemen  15.552727  ...    11718    11731    11731
282            NaN                Zambia -13.133897  ...   310474   310764   311016
283            NaN              Zimbabwe -19.015438  ...   232598   233030   233224

[284 rows x 764 columns]

Warning: Total number of columns (764) exceeds max_columns (20) limiting to first (20) columns.

In [31]:
df['2/1/20']

0      0
1      0
2      0
3      0
4      0
      ..
279    0
280    0
281    0
282    0
283    0
Name: 2/1/20, Length: 284, dtype: int64

In [ ]:
Melihat data pada negara Indonesia. Berdasarkan tabel tanggal 19 Februari 2022 merupakan puncak tertinggi angka Covid-19 jika dibandingkan dengan pada tanggal 20 Januari 2021, kasus mengalami kenaikan

In [35]:
df.loc[149]

Province/State          NaN
Country/Region    Indonesia
Lat                 -0.7893
Long               113.9213
1/22/20                   0
                    ...
2/15/22             4901328
2/16/22             4966046
2/17/22             5030002
2/18/22             5089637
2/19/22             5149021
Name: 149, Length: 764, dtype: object

Kenaikan Kasus di Indonesia pada tanggal tertinggi jika dibandingkan dengan tanggal 20 Januari 2020

In [44]:
for len('df.loc149') < 10000:
    print()

SyntaxError: ignored

Kode diatas sebenarnya untuk menganalisis lenght data dari Indonesia, lalu melihat yang kurang dari 10000